.grid-container {
  width: min(75rem, 100%);
  margin-inline: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(20rem, 100%), 1fr));
  gap: 2rem;
}
.card {
  --grad: red, blue;
  padding: 2.5rem;
  background-image: linear-gradient(to bottom left, var(--bg-color), var(--bg-color-2));
  border-radius: 2rem;
  gap: 1.5rem;
  display: grid;
  grid-template: 'title icon' 'content content' 'bar bar' / 1fr auto;
  /*font-family: system-ui, sans-serif;*/
  color: var(--main-color-2);
  }
  .card:hover {
  box-shadow: 
    inset -2px 2px var(--bg-color-2),
    -20px 20px 40px -20px var(--main-color-2) ;
  }
  .card-title {
    font-size: 1.5rem;
    grid-area: title;
    align-self: end;
    /*text-transform: uppercase;*/
    font-weight: 700;
    /*word-break: break-all;*/ 
  }
  .card-content {
    grid-area: content;
    & > *:first-child { margin-top: 0rem}
    & > *:last-child { margin-bottom: 0rem}
  }
}
