#header-container h1 {
    padding: 0;
    margin: 0;
    font-weight: 300;
}
#header-container p {
    margin: 0;
    padding: 0;
}
#cIcon {
    float: right;
}
#searchBox {
    float: right;
    vertical-align: bottom;
}
#searchBox svg {
    fill: var(--main-color);
    padding-right: 0.5em;
}
#searchBox input {
    appearance: none;
    font-family: var(--font-family);
    font-size: 1em;
    color: var(--main-color);
    background: none;
    outline: none;
    border: 1px solid var(--main-color);
    outline: none;
    transition: 0.5s;
}
#menu {
    float: left;
}
#top {
    border-bottom: 1px solid var(--main-color);
    padding-bottom: 1em;
}
#top a:link,
#top a:visited,
#top a:active {
    font-size: 1.2em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-bottom: 0.9em;
    text-decoration: underline;
    border: 0;
}
#top a.active {
    background-color: var(--main-color);
    color: var(--bg-color);
}
#top a.active :hover {
    color: var(--bg-color);
}
#top ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
#top li {
    display: inline-block;
}
#themeIcon {
    float: right;
}
#themeIcon svg {
    width: 1.2em;
    height: 1.2em;
    vertical-align: middle;
    display: inline-block;
    fill: var(--main-color);
    padding-left: 0.5em;
    cursor: pointer;
}
#themeIcon svg :hover {
    fill: var(--hover-color);
}
.icon-search {
    mask: url("../icons/search.svg");
}
.icon-github {
    mask: url("../icons/github.svg");
}
.footer.icon {
    display: inline-block;
    width: 1.2em;
    height: 1.2em;
    vertical-align: middle;
    margin-left: 0.2em;
}
.post-list.icon {
    display: inline-block;
    width: 0.8em;
    height: 0.8em;
    vertical-align: middle;
    margin-left: 0.25em;
    color: var(--main-color);
    filter: opacity(0.6);
}
.head.icon {
    width: 1.4em;
    height: 1.4em;
    vertical-align: middle;
    display: inline-block;
    margin-left: 0.2em;
    margin-right: 0.2em;
}
.shares.icon {
    width: 2em;
    height: 2em;
}
.icon-gh {
    mask: url("../icons/gh.svg");
}
.icon-linkedin {
    mask: url("../icons/linkedin.svg");
}
.icon-fb {
    mask: url("../icons/fb.svg");
}
.icon-wa {
    mask: url("../icons/wa.svg");
}
.icon-tg {
    mask: url("../icons/tg.svg");
}
.icon-dark {
    mask: url("../icons/dark.svg");
    cursor: pointer;
}
.icon-light {
    mask: url("../icons/light.svg");
    cursor: pointer;
}
.closeBtn {
    margin: 0.5em;
    mask: url("../icons/close.svg");
    cursor: pointer;
}
.closeBtn.icon {
    height: 1.5em;
    width: 1.5em;
}
.closeBtn.icon :hover {
    fill: var(--hover-color);
}
.icon-time {
    mask: url("../icons/time.svg");
}
.icon {
    display: inline-block;
    background: var(--main-color);
    mask-size: cover;
}
.icon:hover,
.icon:focus {
    background: var(--hover-color);
}
.icon-time:hover,
.icon-search:hover,
.icon-search:focus {
    background: var(--main-color);
}
.content {
    min-height: 80vh;
    font-size: 1.2em;
    font-weight: lighter;
}
.content ul li {
    font-weight: 300;
}
.content table {
    border-spacing: 0;
    border-right: 1px solid var(--main-color);
    border-bottom: 1px solid var(--main-color);
}
.content table th,
.content table td {
    padding: 0.5em;
    border-top: 1px solid var(--main-color);
    border-left: 1px solid var(--main-color);
}
.content table th {
    background-color: var(--hover-bg);
}
.post-tags ul {
    padding: 0;
}
.post-tags ul li {
    list-style: none;
    display: inline-block;
}
main {
    min-height: 80vh;
    padding-bottom: 2em;
}
.toc {
    font-weight: normal;
}
.toc ul {
    padding-left: 0.5em;
}
.toc ul li {
    display: list-item;
    padding-left: 0.5em;
    font-size: 1em;
    line-height: 1.2em;
    list-style: none;
}
.badges {
    padding: 1em;
    background-color: var(--code-bg-color);
}
.badges img {
    width: 6em;
    height: 6em;
}
#index-text {
    font-size: 1.2em;
    font-weight: 300;
}
#flexbox {
    display: flex;
    align-items: center;
}
#index-image {
    text-align: center;
    display: block;
}
#index-image img {
    border-radius: 50%;
    width: 75%;
    height: 75%;
}
* {
    --font-family: "Mulish", Halvetica, Arial;
}
:root {
    --co-warning: rgba(255, 145, 0, 0.8);
    --co-alert: rgb(255, 0, 21);
    --co-info: rgb(0, 123, 255);
    --main-color-light: #4c4f69;
    --bg-color-light: #eff1f5;
    --main-color-2-light: #5c5f77;
    --bg-color-2-light: #e6e9ef;
    --hover-color-light: #e64553;
    --hover-bg-light: #e7ebde;
    --code-bg-color-light: #dce0e8;
    --code-fg-color-light: #383a42;
    --code-kw-color-light: #054865;
    --code-string-color-light: #448743;
    --code-comment-color-light: #a9a9a9;
    --shadow-color-0-light: #5b6078;
    --shadow-color-1-light: #1e2030;
    --main-color-dark: #cad3f5;
    --bg-color-dark: #24273a;
    --main-color-2-dark: #b8c0e0;
    --bg-color-2-dark: #363a4f;
    --hover-color-dark: #369ce4;
    --hover-bg-dark: #393e46;
    --code-bg-color-dark: #303947;
    --code-fg-color-dark: #dcdfe4;
    --code-kw-color-dark: #9a8240;
    --code-string-color-dark: #6e8e57;
    --code-comment-color-dark: #686767;
    --shadow-color-0-dark: #5b6078;
    --shadow-color-1-dark: #1e2030;
}
[color-theme="light"] {
    --main-color: var(--main-color-light);
    --main-color-2: var(--main-color-2-light);
    --bg-color: var(--bg-color-light);
    --bg-color-2: var(--bg-color-2-light);
    --hover-color: var(--hover-color-light);
    --hover-bg: var(--hover-bg-light);
    --code-bg-color: var(--code-bg-color-light);
    --code-fg-color: var(--code-fg-color-light);
    --code-kw-color: var(--code-kw-color-light);
    --code-string-color: var(--code-string-color-light);
    --code-comment-color: var(--code-comment-color-light);
    --shadow-color-0: var(--shadow-color-0-light);
    --shadow-color-1: var(--shadow-color-1-light);
}
[color-theme="dark"] {
    --main-color: var(--main-color-dark);
    --main-color-2: var(--main-color-2-dark);
    --bg-color: var(--bg-color-dark);
    --bg-color-2: var(--bg-color-2-dark);
    --hover-color: var(--hover-color-dark);
    --hover-bg: var(--hover-bg-dark);
    --code-bg-color: var(--code-bg-color-dark);
    --code-fg-color: var(--code-fg-color-dark);
    --code-kw-color: var(--code-kw-color-dark);
    --code-string-color: var(--code-string-color-dark);
    --code-comment-color: var(--code-comment-color-dark);
    --shadow-color-0: var(--shadow-color-0-dark);
    --shadow-color-1: var(--shadow-color-1-dark);
}
.reading-time {
    padding-left: 0.5em;
    line-height: 1em;
    font-size: 0.9em;
}
#catlist ul,
#taglist ul {
    list-style: none;
}
#catlist ul li,
#taglist ul li {
    list-style: none;
}
#taglist {
    font-weight: normal;
}
#taglist a:link,
#taglist a:visited,
#taglist a:active {
    text-decoration: none;
}
#catlist b {
    font-weight: 500;
}
#catlist a:link,
#catlist a:visited,
#catlist a:active {
    text-decoration: none;
}
.post-desc {
    font-weight: 100;
    font-size: 0.9em;
    line-height: 1em;
    padding-bottom: 1em;
}
@font-face {
    font-family: "Urbanist";
    src: url("../fonts/urbanist.ttf") format("truetype");
}
@font-face {
    font-family: "Mulish";
    src: url("../fonts/mulish.ttf") format("truetype");
}
html,
body {
    height: 100%;
    min-height: 100%;
}
body {
    font-family: var(--font-family);
    background-color: var(--bg-color);
    color: var(--main-color);
}
p {
    line-height: 1.2em;
    font-size: 1em;
    font-weight: normal;
}
a:link,
a:visited,
a:active {
    color: var(--main-color);
}
a:hover {
    color: var(--hover-color);
}
svg {
    pointer-events: all;
}
h1,
h2,
h3,
h4,
h5,
h6,
b,
strong {
    font-weight: 500;
}
.invis {
    color: var(--main-color);
    filter: opacity(0.6);
}
.pagination {
    text-align: center;
    font-size: 0.8em;
}
.pagination a:link,
.pagination a:visited,
.pagination a:active {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 0.8em;
    padding-right: 0.8em;
    border-bottom: 0.2em solid var(--main-color);
    margin: 0.5em;
}
.pagination a:hover {
    color: var(--main-color);
    background-color: var(--hover-bg);
}
.pagination a:hover svg:hover {
    fill: var(--hover-color);
}
.pagination a.current {
    background-color: var(--hover-bg);
}
.shares ul li {
    list-style: none;
    display: inline-block;
    padding: 0.5em;
}
.co-container {
    margin: 0 auto;
    position: relative;
    padding-top: 1em;
    padding-bottom: 1em;
}
.co-container .callout {
    background-color: var(--code-bg-color);
    width: 80%;
    margin: 0 auto;
    position: relative;
    padding: 0.6em;
}
.co-container .callout a:hover {
    color: var(--hover-color);
}
.co-container .callout * {
    padding: 0;
    margin: 0;
    color: var(--co-icon);
}
.co-container .callout .co-body {
    line-height: 1.5em;
    font-size: 1em;
}
.co-container .callout .co-img {
    float: left;
    text-align: right;
    padding-right: 1em;
    height: 1em;
    vertical-align: middle;
    display: inline-block;
}
.co-container .callout .co-img svg {
    height: 1.3em;
    width: 1.3em;
    fill: var(--font-color);
    vertical-align: middle;
    display: inline-block;
}
.co-container .callout.warning {
    border: 1px solid var(--co-warning);
    border-left: 8px solid var(--co-warning);
}
.co-container .callout.warning svg {
    fill: var(--co-warning);
}
.co-container .callout.alert {
    border: 1px solid var(--co-alert);
    border-left: 8px solid var(--co-alert);
}
.co-container .callout.alert svg {
    fill: var(--co-alert);
}
.co-container .callout.info {
    border: 1px solid var(--co-info);
    border-left: 8px solid var(--co-info);
}
.co-container .callout.info svg {
    fill: var(--co-info);
}
pre {
    background: var(--code-bg-color);
    padding: 1.5em;
}
pre code,
pre span {
    font-family: monospace;
    font-size: 1rem;
    white-space: pre-wrap;
    word-wrap: break-word;
}
pre span .z-key span {
    color: var(--code-kw-color);
    font-weight: bold;
}
pre[data-linenos] {
    padding: 1rem 0;
}
pre table td {
    padding: 0;
}
pre table td:nth-of-type(1) {
    text-align: center;
    user-select: none;
}
pre mark {
    display: block;
}
pre table {
    width: 100%;
    border-collapse: collapse;
}
.z-keyword,
.z-entity,
.z-function,
.z-option {
    font-weight: bold;
    color: var(--code-kw-color);
}
.z-qualified-name .z-storage {
    color: var(--code-fg-color);
}
.z-generic-name {
    color: var(--code-fg-color);
}
.z-string {
    color: var(--code-string-color);
}
.z-comment {
    color: var(--code-comment-color);
}
.z-variable.z-readwrite {
    color: var(--code-string-color);
}
.icon-copy {
    mask: url("../icons/copy.svg");
}
.icon-copy.clicked {
    mask: url("../icons/copied.svg");
}
pre {
    border-radius: 0.5em;
    position: relative;
}
pre .copybutton {
    outline: none;
    padding: 0.4em;
    position: absolute;
    margin: 0.5em;
    right: 0;
    top: 0;
    width: 16px;
    height: 16px;
}
pre .copybutton.icon-copy {
    mask-size: 20px;
    mask-repeat: no-repeat;
}
.mermaid {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}
.mermaid strong {
    font-weight: bold;
}
#timeline-content {
    margin-top: 50px;
    text-align: center;
}
#timeline-content p {
    font-size: 0.8em;
    font-weight: lighter;
}
#timeline-content p h3 {
    font-size: 1em;
    font-weight: lighter;
}
#timeline-content h3 p {
    font-weight: 500;
}
.timeline {
    border-left: 4px solid var(--hover-color);
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    background: var(--code-bg-color);
    margin: auto;
    padding: 50px;
    list-style: none;
    text-align: left;
    max-width: 60%;
}
.timeline .event {
    margin-bottom: 4em;
    position: relative;
    list-style: none;
    line-height: 1.5em;
    font-size: 1.2em;
    font-weight: 400;
    width: 100%;
}
.timeline .event h3 p {
    line-height: 0.5em;
    font-weight: 700;
}
.timeline .event:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
}
.timeline .event:before,
.timeline .event:after {
    position: absolute;
    display: block;
    top: 0;
}
.timeline .event:before {
    left: -8em;
    line-height: 0.5em;
    color: var(--invis-color);
    content: attr(data-date);
}
.timeline .event:before ul,
.timeline .event:before li {
    list-style: none;
}
.timeline .event:after {
    box-shadow: 0 0 0 4px var(--hover-color);
    left: -2.5em;
    background: var(--code-bg-color);
    border-radius: 50%;
    height: 0.5em;
    width: 0.5em;
    content: "";
}
#footer-wrapper {
    border-top: 1px solid var(--main-color);
}
.footer-icons {
    float: right;
    padding-top: 0.3em;
}
.footer-text {
    float: left;
}
.footer-text p {
    padding-top: 0.3em;
    margin: 0;
}
#sResults {
    position: relative;
}
.search-results {
    display: none;
    border-radius: 0.3em;
    padding: 0;
    list-style: none;
    text-align: left;
    right: 25em;
    width: 450px;
    background-color: var(--bg-color);
    border: 1px solid var(--hover-color);
    position: absolute;
    z-index: 990;
    opacity: 0.95;
}
.search-results__items {
    list-style: none;
    z-index: 991;
}
.search-results h4 {
    padding: 0;
}
.search-results .teaser {
    font-size: 0.8em;
}
.search-results li {
    padding: 0;
    list-style: none;
    z-index: 998;
}
.search-results li:first-of-type {
    margin-top: 0;
}
.search-results__item {
    list-style: none;
    display: block;
    z-index: 999;
    padding: 1em;
    border-bottom: 1px solid var(--hover-color);
}
.search-results__item a {
    display: inline-block;
}
.skillcard-icon-aws {
    mask-image: url("/icons/aws.svg");
}
.skillcard-icon-gcp {
    mask-image: url("/icons/gcp.svg");
}
.skillcard-icon-gh {
    mask-image: url("/icons/gh.svg");
}
.skillcard-icon-git {
    mask-image: url("/icons/git.svg");
}
.skillcard-icon-rack {
    mask-image: url("/icons/rack.svg");
}
.skillcard-icon-code {
    mask-image: url("/icons/code.svg");
}
.cards-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: minmax(250px, auto);
    text-align: center;
    padding: 0 auto;
    width: 85%;
    margin-bottom: 2em;
}
.panel {
    border-top: 0.2em solid var(--hover-color);
    margin: 0.2em;
    transition: all 0.5s;
    display: inline;
    overflow-y: scroll;
    max-height: 14em;
}
.panel .skillcard-details {
    text-align: left;
    font-size: 0.9em;
}
.panel .skillcard-icon {
    text-align: center;
    width: 100%;
    height: 2em;
    background: var(--main-color);
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: 75% 75%;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    transition: all 0.5s;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid var(--main-color-2);
  margin: 1em 0;
  padding: 0;
}
