{% extends "base.html" %}
{% block title %}Authors{%endblock%}

{% block content %}
{% import 'macros.html' as macros %}
<div class="columns">
  <div class="column col-12">
  {% for author, articles in authors|sort %}
    <h2><a href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a></h2>
    {% for a in articles %}
      {% if loop.index < 4 %}
        {{ macros.article_summary(a,SITEURL,DISQUS_SITENAME) }}
      {% elif loop.index == 4 %}
        <a class="button" href="{{ SITEURL }}/{{ author.url }}">See All&hellip;</a>
      {% endif %}
    {% endfor %}
    {% if not loop.last %}
      <div class="divider"></div>
    {% endif %}
  {% endfor %}
  </div>
</div>
{% endblock content %}
