<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'layout_head.html' %}
    {% block additional_import %}
    {% endblock %}
  </head>
  <body>

    <!-- Primary Page Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <div class="container">
      <div class="columns">
        <div class="column col-9 col-xl-9 col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <!-- navbar header -->
          {% include 'nav_header.html' %}
          <!-- navbar end -->
          <div class="divider"></div>
          <div class="columns" style="background: #e8eaf6;">
            <div class="column col-xl-5 col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <h1 class='text-right'><a href="{{ SITEURL }}/index.html"><span class="typcn typcn-globe-outline"></span>{{ SITENAME }}</a></h1> 
            </div>
            <div class="column col-xl-7 col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <h3><small>{{ SITESUBTITLE }}</small></h3>
            </div>
          </div>
          <div class="divider"></div>
          <div class="columns">
            <div class="column col-1 hide-lg"></div>
            <div class="column col-xl-10 col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <!-- main body -->
              {% block content %}
              {% endblock content %}
            </div>
            <div class="column col-1 hide-lg"></div>
          </div>
          <div class="divider"></div>
          <footer class="show-for-large-up">
            {% include 'footer.html' %}
          </footer>
        </div><!-- column col-9 -->
        <div class="column col-3 col-xl-3 col-lg-12 col-md-12 col-sm-12 col-xs-12" style="background: url('{{ BACKDROP_IMAGE|replace('{filename}',SITEURL)|replace('|filename|',SITEURL) }}'); background-size:cover; background-position: center;">
        <!-- right pane -->
          {% include 'right_panel.html' %}
        <!-- done with right pane -->
        </div><!-- column col-3 -->
      </div><!-- column columns -->
    </div><!-- container main -->
    
    <script src="{{ SITEURL }}/theme/js/jquery.min.js"></script>
    <script src="{{ SITEURL }}/theme/js/foundation.min.js"></script>
    <script src="{{ SITEURL }}/theme/js/app.js"></script>
    <!-- End Document
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
  </body>
</html>
