{% extends "base.html" %}
{% block title %}Categories{% endblock %}

{% block content %}
{% import 'macros.html' as macros %}
<div class="columns">
  <div class="column col-12">
    <div class="accordion">
      {% for cat, articles in categories|sort %}
      <div class="accordion-item">
        <input type="radio" id="accordion-{{ cat }}" name="accordion-checkbox" hidden />
        <label class="accordion-header hand" for="accordion-{{ cat }}">
          <a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a>
        </label>
        <div class="accordion-body">
          <div class="columns">
            {% for article in articles %}
              {% if loop.index < 4 %}
              <div class="column col-4 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
               {{ macros.article_summary(article, SITEURL, DISQUS_SITENAME) }}
              </div>
              {% elif loop.index == 4 %}
                <p><a href="{{ SITEURL }}/{{ cat.url }}" class="btn btn-primary btn-lg">See All&hellip;</a></p>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock content %}
