<div class="columns">
  <div class="column col-2">
    <div class="text-right">
      <a href="/">Home &nbsp;<i class="fa fa-home fa-fw"></i></a><br />
      <a href="{{ SITEURL }}/categories.html">Categories &nbsp;<i class="fa fa-folder-open fa-fw"></i></a><br />
    </div>
  </div>
  <div class="column col-8 text-center">
  {% if tags %}
    <p>
      <a href="{{ SITEURL }}/tags.html"><i class="fa fa-tags"></i>&nbsp;Tags:</a>&nbsp;&nbsp;
    {% for tag in tag_cloud %}
      <label class="chip">
        <a href="{{ SITEURL }}/tag/{{ tag.0|string|replace(" ", "-")|lower }}.html" class="btn btn-sm">{{ tag.0 }}</a>
      </label>
    {% endfor %}
      &nbsp;&hellip;
    </p>
  {% endif %}
  </div>
  <div class="column col-2">
    <div class="text-left">
    {% if FEED_ALL_ATOM %}
      <a href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}"><i class="fa fa-rss fa-fw"></i>&nbsp; Feed</a><br />
    {% elif FEED_ALL_RSS %}
      <a href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}"><i class="fa fa-rss fa-fw"></i>&nbsp; Feed</a><br />
    {% elif FEED_ATOM %}
      <a href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}"><i class="fa fa-rss fa-fw"></i>&nbsp; Feed</a><br />
    {% elif FEED_RSS %}
      <a href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}"><i class="fa fa-rss fa-fw"></i>&nbsp; Feed</a><br />
    {% endif %}
      <a href="{{ SITEURL }}/archives.html"><i class="fa fa-archive fa-fw"></i>&nbsp; Archives</a><br />
    </div>
  </div>
</div>

<div class="columns sub-footer">
  <div class="divider"></div>
  <div class="column col-6">
    <div class="text-left">
      &copy; {{ YEAR }} {{ AUTHOR }} {{ LICENSE }} <span class="typcn typcn-globe-outline"></span> 
      <!-- <a rel="license" href="https://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="cc.png" /></a>-->
    </div>
  </div>
  <div class="column col-6">
    <div class="text-right">
      Proudly powered by <a href="http://blog.getpelican.com/">Pelican</a>,
      which takes great advantage of <a href="https://www.python.org/">Python</a>.
    </div>
  </div>
</div>
