{% macro article_summary(article, url, disqus) -%}
<div class="card">
  <div class="card-header">
    <h4 class="card-title"><a href="{{ url }}/{{ article.url }}">{{ article.title }}</a></h4>
    <h6 class="card-subtitle"><i class="fa fa-calendar"></i>&nbsp; {{ article.locale_date }}</h6>
  </div>
  {% if article.featured_image %}
  <div class="card-image">
    <a href="{{ url }}/{{ article.url }}"><img class="img-responsive" src={{ article.featured_image }}></a>
  </div>
  {% endif %}
  <div class="card-header">
    <span><i class="fa fa-folder-open"></i>&nbsp; <a href="{{ url }}/{{ article.category.url }}">{{ article.category }}</a></span>
    {% if disqus %}
    <span><i class="fa fa-comments"></i>&nbsp; <a href="{{ url }}/{{ article.url }}#disqus_thread" rel="bookmark" title="Disqus Comments">{{ article.title }}</a></span>
    {% endif %}
    {% if article.tags %}
    <span>
      <i class="fa fa-tags"></i>&nbsp;
      {% for tag in article.tags %}
        <label class="chip"><a href="{{ url }}/{{ tag.url }}" class="btn btn-sm">{{ tag }}</a></label>
      {% endfor %}
    </span>
    {% endif %}
  </div>
  <div class="card-body">
    {{ article.summary|striptags }}
  </div>
  <div class="card-footer">
    <a href="{{ url }}/{{ article.url }}" class="btn btn-primary">Continue reading&hellip;</a>
  </div> <!-- card-footer -->
</div> <!-- card -->
{%- endmacro %}

{% macro pagination(pobj, num_pages, page_name, url) %}
{% if num_pages > 1 %}
<div class="columns">
  <div class="column col-12">
    <ul class="pagination">
    {% if pobj.has_previous() %}
      {% set num = pobj.previous_page_number() %}
      <li class="page-item"><a href="{{ url }}/{{ page_name }}{{ num if num > 1 else '' }}.html">&laquo;</a></li>
    {% else %}
      <li class="page-item"><a href="#" disabled tabindex="-1">&laquo;</a></li>
    {% endif %}
    {% for num in range( 1, 1 + num_pages ) %}
      {% if num in [1,2,pobj.number-1,pobj.number,pobj.number+1,num_pages-1,num_pages] %}
        <li class="page-item{{ ' active' if num == pobj.number else '' }}"><a href="{{ url }}/{{ page_name }}{{ num if num > 1 else '' }}.html">{{ num }}</a></li>
        {% set prevellip = False %}
      {% elif not prevellip %}
        <li class="page-item"><a href="#" disabled tabindex="-1">&hellip;</a></li>
        {% set prevellip = True %}
      {% endif %}
    {% endfor %}
    {% if pobj.has_next() %}
        <li class="page-item"><a href="{{ url }}/{{ page_name }}{{ pobj.next_page_number() }}.html">&raquo;</a></li>
    {% else %}
        <li class="page-item"><a href="#" disabled tabindex="-1">&raquo;</a></li>
    {% endif %}
    </ul>
  </div>
</div>
{% endif %}
{% endmacro %}
  
{% macro page_list(pobj, num_pages, page_name, url, disqus=None) %}
  <div class="columns">
    {% for a in pobj.object_list %}
    <div class="column col-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
      {{ article_summary(a, url, disqus) }}
    </div>
    {% endfor %}
  </div>
{{ pagination(pobj, num_pages, page_name, url) }}
{% endmacro %}
