{% block footer %}
{% if page.extra.show_copyright or section.extra.show_copyright or term is defined %}
{%- set YEAR = now() | date(format="%Y") -%}
<footer class="row">
    <div class="col-2"></div>
    <div class="col-8" id="footer-wrapper">
        <div class="footer-text">{{ config.extra.copyright_string | replace (from="%YEAR%", to=YEAR) | markdown | safe }}</div>
        {% if config.extra.footer.icons.github %}
        <div class="footer-icons"><a href="{{config.extra.footer.icons.github}}" class="icon footer icon-gh"></a></div>
        {% endif %}
        {% if config.extra.footer.icons.linkedin %}
        <div class="footer-icons"><a href="{{config.extra.footer.icons.linkedin}}" class="icon footer icon-linkedin"></a></div>
        {% endif %}
        {% if config.extra.footer.icons.researchgate %}
        <div class="footer-icons"><a href="{{config.extra.footer.icons.researchgate}}" class="icon footer icon-researchgate"></a></div>
        {% endif %}
        {% if config.extra.footer.icons.gscholar %}
        <div class="footer-icons"><a href="{{config.extra.footer.icons.gscholar}}" class="icon footer icon-gscholar"></a></div>
        {% endif %}
        {% if config.extra.footer.icons.ieee %}
        <div class="footer-icons"><a href="{{config.extra.footer.icons.ieee}}" class="icon footer icon-ieee"></a></div>
        {% endif %}
        {% if config.extra.footer.icons.pubmed %}
        <div class="footer-icons"><a href="{{config.extra.footer.icons.pubmed}}" class="icon footer icon-pubmed"></a></div>
        {% endif %}
        {% if config.extra.footer.icons.semanticscholar %}
        <div class="footer-icons"><a href="{{config.extra.footer.icons.semanticscholar}}" class="icon footer icon-semanticscholar"></a></div>
        {% endif %}
        {% if config.extra.footer.icons.ssrn %}
        <div class="footer-icons"><a href="{{config.extra.footer.icons.ssrn}}" class="icon footer icon-ssrn"></a></div>
        {% endif %}
        {% if config.extra.footer.icons.clarivate %}
        <div class="footer-icons"><a href="{{config.extra.footer.icons.clarivate}}" class="icon footer icon-clarivate"></a></div>
        {% endif %}
        {% if config.extra.footer.icons.elsevier %}
        <div class="footer-icons"><a href="{{config.extra.footer.icons.elsevier}}" class="icon footer icon-elsevier"></a></div>
        {% endif %}
        {% if config.extra.footer.icons.dblp %}
        <div class="footer-icons"><a href="{{config.extra.footer.icons.dblp}}" class="icon footer icon-dblp"></a></div>
        {% endif %}
        {% if config.extra.footer.icons.osf %}
        <div class="footer-icons"><a href="{{config.extra.footer.icons.osf}}" class="icon footer icon-osf"></a></div>
        {% endif %}
        {% if config.extra.footer.icons.scopus %}
        <div class="footer-icons"><a href="{{config.extra.footer.icons.scopus}}" class="icon footer icon-scopus"></a></div>
        {% endif %}
        {% if config.extra.footer.icons.orcid %}
        <div class="footer-icons"><a href="{{config.extra.footer.icons.orcid}}" class="icon footer icon-orcid"></a></div>
        {% endif %}
    </div>
    <div class="col-2"></div>
</footer>
{% endif %}
{% endblock footer %}
