
div.code > div {
  background-color: #232323;
}

.highlighttable {
  background-color: transparent;
}

.linenos {
  background-color: #232323;
  color: #a6a6a6;
}

.linenodiv > pre, .highlight > pre {
  padding: 0px;
  background-color: #232323;
}
