.menu {
  /*visibility: hidden;*/
  display: none;
}

button + .menu:active,
button:focus + .menu {
  /*visibility: visible;*/
  display: block;
}

/* Larger than tablet */
@media (min-width: 750px) {
  .menubutton {
    display: none;}

}

.menu-list {
  list-style: none;
}

.menu-link {
  text-transform: capitalize;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: .1rem;
  margin-right: 35px;
  text-decoration: none;
  color: #000080; }

.menu-link.active {
  color: #33C3F0; }

.menu-link:hover {
  color: #0FA0CE; 
  text-decoration: underline;}

