<div class="card article fade-in">
  <div class="card-content">
    <div class="media">
      <div class="media-center">
        <img src="resources/images/benny.jpg" class="author-image" alt="Placeholder image">
      </div>
      <div class="media-content has-text-centered">
        <p class="title article-title">
          <%= data.title_en %>
          <%= data.title_zh %>
        </p>
        <p class="subtitle is-6 article-subtitle">
          <% if(data.author) { %>
            <a href="#"><%= data.author %></a> on 
          <% } %>
          <% if(data.date_en) { %>
            <%= data.date_en %>
          <% } %>
          <% if(data.date_zh) { %>
            <%= data.date_zh %>
          <% } %>
        </p>
      </div>
      <div class="tags">
        <% if(data.tags) { %>
          <% data.tags.forEach(function(tag) { %>
            <% if(tag) { %>
              <a href="#/posts?tag=<%= tag %>">
                <span class="tag is-rounded is-info"><%= tag %></span>
              </a>
            <% } %>
          <% }) %>
        <% } %>
      </div>
    </div>
    <div class="content article-body">
      <p align="center"><img width="750" src="<%= data.image %>"></p>  
      English version: 
      <p><%= data.abstract_en %></p>
      <p>Read here: <a href="<%= data.url_en %>" target="blank"> <%= data.title_en %> </a>, written on <%= data.date_en %></p>
      
      中文版：
      <p><%= data.abstract_zh %></p>
      <p>繼續閱讀: <a href="<%= data.url_zh %>" target="blank"> <%= data.title_zh %> </a>, 寫於 on <%= data.date_zh %></p>
    </div>
  </div>
</div>
