<div class="card article fade-in">
  <div class="card-content">
    <div class="media">
      <!--<div class="media-center">
        <img src="http://i.pravatar.cc/300" class="author-image" alt="Placeholder image">
      </div>-->
      <div class="tags">
        <% if(data.tags) { %>
          <% data.tags.forEach(function(tag) { %>
            <% if(tag) { %>
              <a href="#/publications?tag=<%= tag %>">
                <span class="tag is-rounded is-info"><p class="is-size-6" ><%= tag %></p></span>
              </a>
            <% } %>
          <% }) %>
        <% } %>
      </div>
    </div>
    <div class="media-content has-text-centered">
      <p class="title article-title is-size-3">
        <%= data.title %>
      </p>
      <p class="subtitle is-5 article-subtitle">
        <% if(data.author) { %>
          <%= data.author %> 
        <% } %>
        <% if(data.year) { %>
          &nbsp;(<%= data.year %>)
        <% } %>
      </p>
    </div>
    <div class="content article-body">
      <p align="right"><a href="https://doi.org/<%= data.doi %>"><img src="https://zenodo.org/badge/DOI/<%= data.doi %>.svg"></a></p>
      <% if(data.image) { %>
        <p align="center"><img width="750" src="<%= data.image %>"></p>
      <% } %>
      <h1>Paper</h1>
      <p class="is-size-5" align="justify">
      <% if(data.refline) { %>
        <%= data.refline %>
      <% } else { %>
        <%= data.author %> (<%= data.year %>). <b><%= data.title %></b>, <i><%= data.journal %></i>. <%= data.versionissue %>: <%= data.page %>.
      <% } %>
      </p>
      <% if(data.abstract) { %>
        <h1>Abstract</h1>
        <p class="is-size-5" align="justify">
        <%= data.abstract %>
        </p>
      <% } %>
      <%= data.body %>
      <hr>
      <p>
      Read article here: 
				<ul>
					<li>Official website: <a href="https://doi.org/<%= data.doi %>"><%= data.title %>, <i><%= data.journal %></a></i>, </li> 
					<% if(data.researchgate) { %><li>ResearchGate: <a href="https://<%= data.researchgate %>">Abstract and full text (on request or downloadable directly)</a>,</li> <% } %>
					<li>Please contact me (<a href="mailto:wcchin.88@gmail.com"><span class="typcn typcn-social-at-circular"></span>by Gmail </a>). </li>
				</ul>
      </p>
    </div>
  </div>
</div>