<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>

    <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/minimal_orderedlist.css">
    <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/typicons/typicons.css">
    <meta name="viewport" content="width=device-width">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <a href="/" title="Home"><span class="typcn typcn-globe-outline"></span> Home</a> </p>
        <h1 class="post-title"> {{ article.title }} </h1>

        <p class="view">
            <a href="{{ article.repos }}">View the Project <small> {{ article.codename }} </small></a></p>
        <ul>
          {% if article.downloadlink %}<li><a href="{{ article.downloadlink }}">Download <strong>ZIP File</strong></a></li>{% endif %}
          {% if article.pypilink %}<li><a href="{{ article.pypilink }}">Visit at <strong> pypi </strong></a></li>{% endif %}
          {% if article.paperlink %}<li><a href="{{ article.paperlink }}">Read the  <strong>Article</strong></a></li>{% endif %}
      </ul>
      {% if article.share_post and article.status != 'draft' %}
            <p id="post-share-links">
                Share on:
                <br>
                <a href="{{article.share_post['twitter']}}" target="_blank" title="Share on Twitter"><span class="typcn typcn-social-twitter"></span> Twitter</a>
                <br>
                <a href="{{article.share_post['facebook']}}" target="_blank" title="Share on Facebook"><span class="typcn typcn-social-facebook"></span> Facebook</a>
                <br>
                <a href="{{article.share_post['google-plus']}}" target="_blank" title="Share on Google Plus"> <span class="typcn typcn-social-google-plus"></span> Google+</a>
                <br>
                <a href="{{article.share_post['email']}}" target="_blank" title="Share via Email"><span class="typcn typcn-mail"></span> Email</a>
                <br>
                <a href="{{article.share_post['diaspora']}}" target="_blank" title="Share on Diaspora">Diaspora*</a>
            </p>
        {% endif %}
      </header>
      <section>
         <h1>{{ article.subtitle }}</h1>
         {{ article.content }}
         <div id="disqus_thread"></div>
     	<script type="text/javascript">
     		/* * * CONFIGURATION VARIABLES * * */
     		var disqus_shortname = 'chinminilab';

     		/* * * DON'T EDIT BELOW THIS LINE * * */
     		(function() {
     			var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
     			dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
     			(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
     		})();
     	</script>
     	<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

     	<script type="text/javascript">
     		/* * * CONFIGURATION VARIABLES * * */
     		var disqus_shortname = 'chinminilab';

     		/* * * DON'T EDIT BELOW THIS LINE * * */
     		(function () {
     			var s = document.createElement('script'); s.async = true;
     			s.type = 'text/javascript';
     			s.src = '//' + disqus_shortname + '.disqus.com/count.js';
     			(document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
     		}());
     	</script>
      </section>
      <footer>
        <p>This project is maintained by <a href="http://wcchin.github.io/"><span class="typcn typcn-user"></span>Benny Chin (wcchin)</a></p>
        <p><small>Hosted on GitHub Pages &mdash; Original <a href="https://orderedlist.com/minimal/">Minimal theme</a> by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>

  </body>
</html>
